@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1C1C1C;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #1C1C1C;
    height: 0%;
    border-bottom: 4px groove;
    border-color: #800E04;
    padding-top: 5px;
}

.header-title {
    margin-top: -5px;
    font-family: arial;
    text-align: center;
    color: #800E04;
    -webkit-text-stroke-width: 1px;
    /* largura da borda */
    -webkit-text-stroke-color: #696969;
    /* cor da borda */
}

.titulo-filmes {
    -webkit-text-stroke-width: 1px;
    /* largura da borda */
    -webkit-text-stroke-color: #696969;
    /* cor da borda */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #800E04;
    background-color: #1C1C1C;
    padding-bottom: 5px;
    margin-top: 5vh;
    border-top: 4px groove;
    border-bottom: 4px groove;
    border-color: #800E04;
}

.filmes {
    padding-bottom: 30px;
    width: 99.999%;
    /*display: flex;
    flex-direction: row;*/
}

.filmeUm {
    display: inline-block;
    border: 5px solid #800E04;
    width: 300px;
    background-image: linear-gradient(to right bottom, #1C1C1C, #4F4F4F, #1C1C1C);
    margin-top: 70px;
    margin-left: 30px;
    border-radius: 10px;
}

.filmeUm:hover {
    transition: 0.3s ease-in-out;
    opacity: 0.5;
    width: 400px;
    cursor: pointer;
}

.filmeDois {
    display: inline-block;
    border: 5px solid #800E04;
    width: 300px;
    background-image: linear-gradient(to right bottom, #1C1C1C, #4F4F4F, #1C1C1C);
    margin-top: 70px;
    margin-left: 30px;
    border-radius: 10px;
}

.filmeDois:hover {
    transition: 0.3s ease-in-out;
    opacity: 0.5;
    width: 400px;
    cursor: pointer;
}

.filmeTres {
    display: inline-block;
    border: 5px solid #800E04;
    width: 300px;
    background-image: linear-gradient(to right bottom, #1C1C1C, #4F4F4F, #1C1C1C);
    margin-top: 70px;
    margin-left: 30px;
    border-radius: 10px;
}

.filmeTres:hover {
    transition: 0.3s ease-in-out;
    opacity: 0.5;
    width: 400px;
    cursor: pointer;
}

.movie-banner {
    border-bottom: 5px solid #800E04;
    width: 290px;
}

.movie-banner:hover {
    width: 390px;
    transition: ease-in-out 0.3s;
}

.movieName {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    /* largura da borda */
    -webkit-text-stroke-color: black;
    /* cor da borda */
}

.tittle-hour {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: white;
    -webkit-text-stroke-width: 1px;
    /* largura da borda */
    -webkit-text-stroke-color: black;
    /* cor da borda */
}

.hour {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: white;
    border: 3px solid #800E04;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
    border-radius: 10px;
}

.hour:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: #800E04;
    color: white;
}

.description {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-bottom: 35px;
}

.foot {
    margin-top: 7.2vh;
}

footer {
    padding: 10px 0px;
    background-color: #1C1C1C;
    color: #800E04;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    border-color: #800E04;
}
.chairs{
    margin-top: 5px;
    font-family: arial;
    color: #800E04;
    text-align: center;
    /* largura da borda */
    /* cor da borda */
}
